*{
    margin:0;
    padding:0;
}

.svi_proizvodi {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 30px;
}

.kartica{
    background-color:rgb(241, 244, 245) ;
    position: relative;
    max-width: 300px;
    height: 215px;
    max-height: 420px;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition: 0.3 linear;
    border:2px solid black;
}

.kartica:hover{
    height:420px;
}

.slikaProizvoda {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2) ;
}

.slikaProizvoda img{
    max-width: 100%;
    border-radius: 4px;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.podaci{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.podaciKorpa{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    width:100%;
}

.kartica:hover .podaci{
    visibility:visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.dugmici {
    background-color: rgb(14, 97, 112);
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 3px;
    border-radius: 3px;
    border-width: 0px;
}